[Unit]
Description=Nginx
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none

# Stop and remove the old container.
ExecStartPre=-/usr/bin/docker kill %p%i
ExecStartPre=-/usr/bin/docker rm %p%i

# Download the image.
ExecStartPre=/usr/bin/docker pull nginx

# Start a container.
ExecStart=/usr/bin/docker run \
    --name %p%i \
    -p ${COREOS_PUBLIC_IPV4}:80:80 \
    -p ${COREOS_PUBLIC_IPV4}:443:443 \
    nginx

# Stop and remove the cntainer.
ExecStop=/usr/bin/docker stop %p%i

[X-Fleet]
# Don't schedule on the same machine as other Nginx instances.
Conflicts=%p@%i.service
