[Unit]
Description=Nginx
After=docker.service
Requires=docker.service

[Service]
# Disable the start timeout because pulling the Docker image for the first time
# can take a while.
TimeoutStartSec=0

Restart=always
EnvironmentFile=/etc/environment

# Stop and remove the old container.
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

# Download the image.
ExecStartPre=/usr/bin/docker pull nginx

# Start a container.
ExecStart=/bin/bash -c '\
    /usr/bin/docker run \
        --name %p-%i \
        -p 80:80 \
        -p 443:443 \
        nginx'

# Stop and remove the cntainer.
ExecStop=/usr/bin/docker kill %p-%i
ExecStop=/usr/bin/docker rm %p-%i

[X-Fleet]
X-Conflicts=%p.*.service
